.child__choose__us{
    img{
        // border: 1px solid #fff;
        height: 392px;
        width: 100%;
    }
    h4{
        color: #ff9f78;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 40px;
        margin-top: 40px;
        text-align: start;
    }
}

@media(max-width:576px){
    .section__choose__us{
        h4{
            font-size: 28px;
        }
    }
}