.section__choose__us{
    h4{
        color: #fff;
        font-size: 56px;
        margin-bottom: 72px;
    }
    display: flex;
    // flex-direction: row;
    // align-items: space-between;
    // justify-content:space-between ;
    height:1312px;
    background-color: transparent;
}