.landing {
  background-color: transparent;
  position: relative;
  // padding-top: 80px;
  // display: flex;
  color: #fff;
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    span{
      color: #FF9F78;
    }
    h1 {
      font-size: 88px;
      text-align: start;
      margin-bottom: 60px;
      line-height: 96px;
    }
    p {
      padding-right: 40px;
      font-size: 40px;
      text-align: start;
      line-height: 48px;
    }
  }
  .form {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    p{
      font-size: 40px;
      line-height: 48px;
      padding: 20px;
      padding-bottom: 0;
      text-align: start;
    }
    .form__landing{
      width: 100%;
      padding: 20px;
    }
    .my__input__landing{
      width: 100%;
      height: 56px;
    }
    .button__landing{
      background-image: linear-gradient(45deg,#A139E4, #6FA0D9);
      width: 70%;
      height: 60px;
      font-size: 24px;
      line-height: 24px;
      border: none;
      // transform: skewY(-6deg);
      // transform-origin: top left;
    }
  }
  // @media (min-width: 992px) {
  //   .width {
  //     min-width: 1080px;
  //   }
  // }
}
@media (max-width: 991px){
  .landing{
    .title{
      h1{
        padding: 0 8px;
      }
      p{
        padding: 0 8px;
      }
    }
    .form{
      .my__input__landing{
        height: 100px;
      }
      .form-control{
        padding: 20px ;
        font-size: 25px;
      }
      .button__landing{
        margin-top: 60px;
      }
    }
  }
}

@media (max-width: 768px){
  .landing{
    .title{
      height: 90vh;
      h1{
        font-size: 60px;
        padding: 0 8px;
      }
      p{
        padding: 0 8px;
      }
    }
    .form {
      height: 60vh;
      p{
        padding: 0 8px;
      }
      .form-control{
        height: 60px;

      }
      .my__input__landing{
        margin-bottom: 15px;
      }
      .button__landing{
        margin-top: 50px;
      }
    }
  }
}

@media(max-width:576px){
  .landing{
    height: 95vh;
    .title{
      justify-content: start;
      height: auto;
      padding: 0px 20px;
      h1{
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 32px;
      }
      p{
        display: none;
      }
    }
    .form{
      height: auto;
      padding: 0 20px;
      .form__landing{
        padding: 0px;
      }
      .form-control{
        height: 50px;
      }
      p{
        padding: 0 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
      }
      .button__landing{
        margin-top: 40px;
      }
      .my__input__landing{
        height: 60px;
      }
    }
  }
}