.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100px;
    }
    h3{
        font-size: 40px;
        color: #fff;
    }
    background-color: rgba(0, 0, 0, 0.878);
    opacity: 1;
    button{
        background-color: #fff;
        width: 200px;
        height: 50px;
        font-size: 25px;
        border: none;
    }
}
.modal.inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100px;
    }
    h3{
        font-size: 40px;
        color: #fff;
    }
    background-color: rgba(0, 0, 0, 0.878);
    opacity: 0;
}
body.modalHidden{
    overflow: hidden;
}