.col__Services{
    border: 2px solid #ffa500;
    height: 172px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
    margin-top: 0;
    &:first-child{
        margin-left: 0;
    }
    &:last-child{
        margin-right: 0;
    }
}
// .col__Services:first-child{
//     margin-left: 0;
// }
