.section__we__help {

  background-color: transparent;
  margin-top: 150px;
  color: #fff;
  img{
    width: 100%;
  }
  h4 {
    font-size: 48px;
    line-height: 56px;
    text-align: start;
    span {
      color: #ff9f78;
    }
  }
  p{
    font-size: 40px;
    line-height: 48px;
    text-align: start;
    margin-top: 32px;
  }
  .button__we__help{
    background-image: linear-gradient(45deg,#A139E4, #6FA0D9);
    width: 30%;
    height: 60px;
    font-size: 24px;
    line-height: 24px;
    border: none;
    margin-top:48px ;
  }
}

@media(max-width:1024px){
  .section__we__help{
    margin-bottom: 80px;
  }
}

@media(max-width:991px){
  .section__we__help{
    h4{
      padding: 0 8px;
    }
    p{
      padding:  0 8px;
    }
    img{
      display: none;
    }
  }
}

@media (max-width: 768px){
  .section__we__help{
    h4{
      padding: 0 8px;
    }
    p{
      padding: 0 8px;
      font-size: 35px;
    }
    img{
      display: none;
    }
  }
}

@media(max-width:576px){
  .section__we__help{
    height: auto;
    margin-top: 30px;
    .we__help__padding{
      padding: 0 20px;
    }
    h4{
      line-height: 32px;
      font-weight: 500;
      font-size: 24px;
      text-align: start;
      margin-bottom: 16px;
    }
    p{
      font-weight: 300;
      font-size: 22px;
      line-height: 32px;
      text-align: start;
      margin-bottom: 0px;
    }
    img{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      height: 200px;
      margin-right: 10px;
    }
  }
}