.section__navbar{
    background-color: transparent;
    img{
        height: 100px;
        width: auto;
    }
    
    .my__nav__link{
        color: #fff;
        font-size: 24px;

    }
    .my__nav__link:hover{
        color: var(--text-color);
    }
    .navbar-toggler-icon{
        background-image: url('../../images/Dubble.svg');
    }
    .navbar-toggler:focus{
        box-shadow: none;
        outline: #ff9f78  solid 3px;
        
    }

    .navbar-nav{
        .nav-link.active{
            color: #fff;
        }
        .nav-link.active:hover{
            color: var(--text-color);
        }
    }
}

.navbar{
    color: #fff;
}
@media(max-width:1199px){
    .section__navbar{
        .my__nav__link{
            font-size: 18px;
        }
    }
}
@media(max-width:576px){
    .section__navbar{
        img{
            height: 60px;
            width: auto;
        }
    }
}