.section__info__number{
    height: 200px;
    margin-top: 60px;
    span{
        color: #ff9f78;
        font-size: 128px;
        line-height: 136px;
    }
    p{
        font-size: 40px;
        line-height: 48px;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 60px;
    }
}